.main {
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins';
  margin-bottom: 50px;

  .side__main {
    margin: 50px 50px 50px 100px;
    @extend %cards;
    min-width: 550px;
    height: 800px;
    #filtroGenero {
      display: flex;
      align-items: center;
      font-size: 1.5em;
      gap: 0.5rem;
    }
  }
  .section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: $color-header;
    margin-right: 50px;
    #genero {
      margin: 20px 0 20px 0;
      width: 150px;
      height: 40px;
    }
    h2 {
      font-size: 2rem;
      color: $color-header;
      margin-bottom: 2rem;
    }
  }
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s ease-out;
      @extend %cards;
      img {
        border-radius: 7px;
        width: 225px;
        height: 300px;
        margin-bottom: auto;
        border: 2px solid $color-header;
      }
      h3 {
        border-bottom: 1px solid $color-header;
        max-width: 95%;
        margin-bottom: 5px;
      }
      #card__button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
        font-size: 1em;
        font-weight: 600;
        border: 2px solid $color-header;
        width: 70%;
        height: 3rem;
        margin-top: auto;
        padding: 0.13rem 0 0.13rem 0;
        text-decoration: none;
        background-color: #1c1c1c;
        color: $color-header;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          background-color: $color-header;
          border: 2px solid black;
          #card__button--svgColor {
            fill: black;
          }
        }
        #card__button--svg {
          max-width: 40px;
        }
      }
    }

    .filtro {
      visibility: hidden;
      opacity: 0;
      order: 1;
    }
  }
  span {
    cursor: text;
    font-size: 2rem;
    color: $color-header;
  }
}
