.body {
  display: flex;
  justify-content: space-around;
  section {
    margin: 10px 10px 10px 10px;
  }
  h2 {
    margin: 0 0 30px 30px;
  }
  #productos {
    border: 1px solid black;
    margin: 0 0 30px 30px;
    div {
      border: 1px solid black;
    }
    img {
      width: 300px;
      height: 500px;
    }
    #card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  #carrito {
    border: 1px solid black;
    margin: 0 0 30px 30px;
    div {
      border: 1px solid black;
    }
    img {
      width: 300px;
      height: 500px;
    }
    #card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  span {
    cursor: pointer;
    font-size: 2rem;
  }
  .section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .secCar {
    justify-self: end;
  }
}
